<div class = "container-fluid footer navbar-fixed-bottom">
  <footer>
    <small>Copyright &copy; <a href="#"></a>Patricia Yoe 2016</small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>